@import url('https://fonts.googleapis.com/css2?family=Manrope');

html {
	font-size: 1vh;
	font-family: "Manrope", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	transition: filter 2s ease;
	/* Standard syntax */
	-webkit-transition: filter 2s ease;
	/* For Chrome and Safari */
	-moz-transition: filter 2s ease;
	/* For Firefox */
	-o-transition: filter 2s ease;
	/* For Opera */
}

body {
	color: #ffffff;
	margin: 0;
	padding: 0;
}

section {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	position: relative;
}


a {
	text-decoration: none;
}


.red {
	color: #ff6464;
}


.white {
	color: rgb(255, 255, 255);
}



::-webkit-scrollbar {
	width: 0;
}

#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 3px;
	height: 100%;
	border-radius: 10px;
	background: linear-gradient(transparent, #ff6e6e, #ff6e6e, #ff8f8f, #ffffff, #ffffff, transparent);
}



.webGL {
	position: fixed;
}

[data-theme="dark"] {
	--bg-color: #3d1f1f;
	--txt-color: #0040ff;
}

/* ↓ Minimal Switch -------------------- */

.minimal-switch {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
}



.minimal-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.minimal-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	border: solid 1px;
	border-color: rgb(255, 255, 255);
}

.minimal-slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 9px;
	font-size: 13px;
	background-color: var(--bg-color, #F5F6F9);
	-webkit-transition: 1s;
	transition: 1s;
}


input:checked+.minimal-slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}

.minimal-slider.round,
.minimal-slider.round:before {
	border-radius: 10px;
}

.switchWrap {
	position: fixed;
	bottom: 5%;
	left: 2%;
	z-index: 10;
}



/* Add animation classes */
.fade-in {
	animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
	animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/*------------------------- header menu */


/* Variables */
:root {
	--white: #FFFFFF;
	--red: rgb(254, 118, 118);
	--pink: #ff9999;
}

.pink {
	color: var(--pink);
	letter-spacing: 2px;
}

/* Menu styles */
.menu__list {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	z-index: 8;
	right: 0;
	width: 100%;
	top: 0;
}

.navbar_wrapper {
	padding: 10px 1.0em 1.5em 2.2em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar_col {
	padding: 1.5em 1.0em 1.5em 1.0em;
	display: flex;
	flex-direction: row;
}

.logo {
	display: block;
	height: 1.8em;
	margin: -0.55em 0 0 0;
}

.menu__item {
	letter-spacing: 0.1em;
	font-size: 1.8em;
	display: block;
	margin: 0.0em 2em 0em 0em;
}


.menu__link {
	display: block;
	padding: .1em .5em;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: relative;
	text-align: center;
	align-items: center;
	background: none;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s;
}






.tradeBtn {
	letter-spacing: 0.5em;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
	position: relative;
	padding: 0.2em 0.75em 0.2em 1em;
	appearance: none;
	cursor: pointer;
	border: solid 1px;
	border-color: #FFF;
	color: #fff;
}


.tradeBtn2 {
	letter-spacing: 0.5em;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
	position: relative;
	padding: 0.2em 0.75em 0.2em 1em;
	appearance: none;
	cursor: pointer;
	border: solid 1px;
	border-color: #FFF;
	color: #fff;

}


.tradeBtn:hover,
.tradeBtn2:hover {
	border-color: rgb(255, 92, 92);
	color: #ffbaba;
}



/*------------------------- mobile menu */
.logo-smallscreen {
	height: 2em;
	position: fixed;
	left: 1.0em;
	top: 1.0em;
	display: block;
}

.menu-item-2,
.menu-item-3 {
	text-transform: uppercase;
}

.menu-item-2:hover,
.menu-item-3:hover {
	color: var(--red);
}

/* Variables */
:root {
	--hamburger-menu-height: 2.5em;
	--hamburger-icon-height: 0.3em;
	--hamburger-icon-rotate-deg: 45deg;
}

/* .menu-trigger */
.menu-trigger {
	display: none;
}

/* .overlay */
.overlay {
	width: 0;
	height: 0;
	position: fixed;
	z-index: 8;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;

}

/* .menu-links */
.menu-links {
	text-transform: uppercase;
	font-size: 22px;
	list-style-type: none;
	margin-left: -1em;
}

.menu-trigger:checked+.overlay .menu-links li a {
	transform: translateX(0);
	opacity: 1;
}


/* .hamburger-menu */
.hamburger-menu {
	width: 2.0em;
	height: var(--hamburger-menu-height);
	position: fixed;
	z-index: 9;
	top: 1.5em;
	right: 4em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	visibility: hidden;
}

.hamburger-menu span {
	color: rgb(255, 77, 77);
	background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 77, 77) 100%);
	width: 4em;
	height: var(--hamburger-icon-height);
	flex-grow: 0;
	display: block;
	transition: transform 350ms ease-out;
	transform-origin: center;
	background-color: rgb(255, 77, 77);
}

.menu-trigger:checked~.hamburger-menu span:nth-child(1) {
	transform: translateY(calc((var(--hamburger-menu-height) / 2) - (var(--hamburger-icon-height) / 2))) rotate(var(--hamburger-icon-rotate-deg));
}

.menu-trigger:checked~.hamburger-menu span:nth-child(2) {
	transform: scale(1, 0) translateX(-100%);
}

.menu-trigger:checked~.hamburger-menu span:nth-child(3) {
	transform: translateY(calc(-1 * (var(--hamburger-menu-height) / 2) + (var(--hamburger-icon-height) / 2))) rotate(calc(-1 * var(--hamburger-icon-rotate-deg)));
}

.menu-trigger:checked+.overlay {
	width: 0%;
	height: 0%;
}

/*menu--small screens */
@media screen and (max-width: 1000px) {

	.menu__link:before,
	.menu__link::after {
		visibility: hidden;
	}

	.menu__item--current .menu__link {
		color: #ff4848;
	}

	.menu__item {
		letter-spacing: 2px;
		display: block;
		margin: 0em 0em 2em -2px;
		
	}

	/* Menu styles */
	.menu__list {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;
		z-index: 8;
		right: 0;
		width: 100%;
	}

	.navbar_col {
		padding: 55px 35px 55px 55px;
		font-size: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* Visit button styles */
	.visitBtn {
		height: 1.6em;
		padding: 0.8em 0.5em 0.5em 1em;
	}

	.frontSectionCard:hover {
		height: 44em;
	}

	.cardInner2 {
		display: flex;
		flex-direction: column;
		justify-content: left;
	}

	.tradeBtn2 {
		margin: 0 0 0 0.0em;
		font-size: 26px;
	}

	/* Menu styles */
	.menu__list {
		visibility: hidden;
	}

	.hamburger-menu {
		visibility: visible;
	}

	.menu-trigger:checked+.overlay {
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		background-color: rgba(0, 0, 0, 0.312);
		width: 100%;
		height: 100%;
		transition: none;
	}
}

/********************Texts************************/


.transition {
	transition: all 0.25s ease-in-out;
}

.flipIn {
	animation: flipdown 0.5s ease both;
}


.wrapper {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 30%;
}

svg circle {
	stroke: #36383f;
	stroke-width: 1px;
}

svg .progress {
	stroke-width: 2px;
	transition: .1s;
	stroke: #fff;
}

.container:after {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	content: attr(data-scroll);
	border-radius: 50%;
	color: #36383f;
}


.body2 {
	justify-items: center;
	min-height: 0;
	position: fixed;
	z-index: 1;
	margin: 3% 5%;
	width: 90%;
	padding: 0px 40px 20px 0px;
}

@media screen and (max-width: 1000px) {
	.body2 {
		width: 70%;
		margin: 50px 0;

	}
}
.list-box{
	width: 40%;
}
.list-item0 {
	align-self: center;
	text-align: center;
	cursor: pointer;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 2px;
	background: #e75454;
	background: -webkit-linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background: -moz-linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background: linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1000px) {
	.list-item0 {
		font-size: 24px;
	}
}

.list-item0:hover {
	background: #e75454;
	background: linear-gradient(to right, #ffa0a0, #ff4d4d);
	background: -webkit-linear-gradient(to right, #ffa0a0, #ff4d4d);
	background: -moz-linear-gradient(to right, #ffa0a0, #ff4d4d);
	background: linear-gradient(to right, #ffa0a0, #ff4d4d);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.list-item1:hover,
.list-item2:hover,
.list-item3:hover,
.list-item4:hover,
.list-item5:hover,
.list-item6:hover {
	color: #ffafaf;
}

.list2-item1,
.list3-item1 {
	margin-left: 2em;
	font-size: 2.2rem;
	margin-top: -0.5em;
	font-weight: 200;
	cursor: default;
	color: #ffafaf;
}


.list-item1,
.list-item2,
.list-item3,
.list-item4,
.list-item5,
.list-item6 {
	margin-left: 80px;
	font-size: 16px;
	margin-top: -0.5em;
	cursor: pointer;
}
.list-item1{
	margin-top: 20px;
}
@media screen and (max-width: 1000px) {

	.list-item1,
	.list-item1,
	.list-item2,
	.list-item3,
	.list-item4,
	.list-item5,
	.list-item6 {
		font-size: 12px;
	}
}

.list-title1,
.list-title2,
.list-title3 {
	font-size: 22px;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 1px;
	padding-left: 40px;
	margin-top: 40px;
}

@media screen and (max-width: 1000px) {

	.list-title1,
	.list-title2,
	.list-title3 {
		margin-left: -60px;
		font-size: 12px;
		font-weight: 500;
	}
}

.list-title1:hover,
.list-title2:hover,
.list-title3:hover {
	color: var(--red);
}

p {
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	transition: all 0.25s ease-in-out;
	opacity: 1;
	transform: translate(0, 0);
	z-index: 2;

}

ul {
	list-style: none;
	perspective: 900;
	padding: 0;
	margin: 0;
}



li:nth-of-type(1) {

	animation-delay: 0.5s;
}

li:nth-of-type(2) {
	animation-delay: 0.75s;
}

li:nth-of-type(3) {
	animation-delay: 1.0s;
}

li:last-of-type {
	padding-bottom: 0;
}

li i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 1.5em;
	left: 24px;
	pointer-events: none;
}

li i:before,
li i:after {
	content: "";
	transition: all 0.25s ease-in-out;
	position: absolute;
	background-color: var(--red);
	width: 2px;
	height: 9px;

}


li i:before {
	transform: translate(-2.5px, 0) rotate(45deg);
}

li i:after {
	transform: translate(2.5px, 0) rotate(-45deg);
}

input[type="checkbox"] {
	position: absolute;
	z-index: 1;
	opacity: 0;
}

input[type="checkbox"]:checked~p {
	margin-top: -1em;
	max-height: 0;
	opacity: 0;

}

input[type="checkbox"]:checked~i:before {
	transform: translate(2.5px, 0) rotate(45deg);

}

input[type="checkbox"]:checked~i:after {

	transform: translate(-2.5px, 0) rotate(-45deg);
}

@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
		background-color: white;

	}

	5% {
		opacity: 1;
	}

	80% {
		transform: rotateX(8deg);
	}

	83% {
		transform: rotateX(6deg);
	}

	92% {
		transform: rotateX(-3deg);
	}

	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}


.gradiant {
	background: #e75454;
	background: -webkit-linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background: -moz-linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background: linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*-------------Play pause icon*/
.scroll-progress-circle {
	position: absolute;
}

.player-box {
	position: absolute;
	margin-left: 16px;
	margin-top: 80px;
	opacity: 0;

	width: 0;
	height: 0;
	display: flex;
	flex-direction: row;
	align-content: center;
}

.sectionWrap{
	height: 100vh;
	width: 100vh;
}

.playButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.control {
	--color: #ffffff;
	--duration: 0.4s;
	--sin: 0.866;
	--size: 20px;
	justify-self: center;
	padding: calc(var(--size) * 0.25);
	width: var(--size);
	height: var(--size);
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	z-index: 10;

	&,
	.left,
	.right,
	&:before {
		display: inline-block;
		vertical-align: middle;
		transition: border var(--duration), width var(--duration), height var(--duration), margin var(--duration);
		transition-timing-function: cubic-bezier(1, 0, 0, 1);
	}

	&:before {
		content: "";
		height: var(--size);
	}

	&.pause {

		.left,
		.right {
			margin: 0;
			border-left: calc(var(--size) * 0.33) solid var(--red);
			border-top: 0 solid transparent;
			border-bottom: 0 solid transparent;
			height: calc(var(--size) * var(--sin));
		}

		.left {
			border-right: calc(var(--size) * 0.2) solid transparent;
		}
	}

	&.play {
		--border: calc(var(--size) / 4);

		.left {
			margin-left: calc(var(--size) / 6);
			border-left: calc(var(--size) * var(--sin) / 2) solid var(--color);
			border-top: var(--border) solid transparent;
			border-bottom: var(--border) solid transparent;
			border-right: 0px solid transparent;
			height: calc(var(--size) - 2 * var(--border));
		}

		.right {
			margin: 0;
			border-left: calc(var(--size) * var(--sin) / 2) solid var(--color);
			border-top: var(--border) solid transparent;
			border-bottom: var(--border) solid transparent;
			height: 0px;
		}
	}

	&:hover {
		border-color: var(--red);

		.left,
		.right {
			border-left-color: var(--red);
		}
	}
}

/*-------------scroll down icon*/
.scrollDown-wrapper {
	position: fixed;
	z-index: 7;
	right: -6em;
	padding: 0em 4em;
	bottom: calc(50% - 25em);
	width: 4em;
	cursor: pointer;
}

/* Scroll animation-5 */
.scroll-down {
	width: 2px;
	height: 50em;
	background: transparent;
	animation: scrollDown 2s ease infinite;
}

.scroll-down:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #e75454;
	background: -webkit-linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background: -moz-linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background: linear-gradient(to right, #ffffff 0%, #e75454 100%) #e75454;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes scrollDown {
	0% {
		transform-origin: top;
		transform: scaleY(0);
	}

	45% {
		transform-origin: top;
		transform: scaleY(1);
	}

	55% {
		transform-origin: bottom;
		transform: scaleY(1);
	}

	100% {
		transform-origin: bottom;
		transform: scaleY(0);
	}
}

/*---------------------About Us----------------------  */

.footer {
	position: absolute;
	font-size: 2em;
	bottom: 1em;
	width: 100%;
	align-items: center;
	text-align: center;
}












/*------------------------- small screens -------------------------*/



@media screen and (max-width: 1000px) {
	html {
		font-size: calc(0.5vw + 0.7vh);
	}

	/*---------------------Home----------------------  */
	.overlay {
		visibility: inherit;
	}


	.scrollDown-wrapper {
		right: 0.5em;
		padding: 0em 6em;
		margin-right: -9.5em;
		bottom: calc(50% - 26em);
		height: 52em;
		cursor: pointer;
	}

	.scroll-down {
		height: 52em;
		width: 0.4em;
		margin-right: -1em;
		background: transparent;
		animation: scrollDown 2s ease infinite;
	}


}